@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

body p {
    font-size: 15px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.10) 0px 48px 100px 0px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    height: auto;
    width: 325px;
}


.content img {
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.content h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0px 5px 20px 5px;
    font-size: 22px;
}


.content p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding: 0px 20px;
    margin-bottom: 25px;
}


.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .content {
        width: 275px;
    }

    .content h2 {
        font-size: 19px;
    }

    .content p {
        font-size: 13px;
        padding: 0px 10px;
    }

    .attribution p {
        font-size: 13px;
    }
}